---
title: 'Automated domain verification '
article_id: 18686002196498
sidebar_position: 14
created_at: '2024-05-02T07:42:17Z'
updated_at: '2024-05-27T08:48:31Z'
draft: false
user_segment_id: 16307853619090
user_segment: Enterprise Company Admins
backstage_link:
  entity_kind: capability
  entity_id: domain-control
---

Add verified domains more quickly with a new automated process. This replaces the previous manual process involving Miro support teams.
